<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <style>
        body {
            background: url([[@{/images/background.jpg}]])
                no-repeat center center fixed;
            background-size: cover;
            color: black;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            font-size: 48px;
        }

        .btn {
            margin-top: 20px;
            margin-right: 10px;
        }
    </style>
    <title>Welcome to Clinic Project</title>
</head>

<body>
<div class="container">
    <h1>Welcome to Clinic Project</h1>
    <div>
        <a th:href="@{/patient}" class="btn btn-primary" role="button">Patient Portal</a>
        <a th:href="@{/doctor}" class="btn btn-success" role="button">Doctor Portal</a>
    </div>
</div>
</body>

</html>