<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layouts/layout :: head_html}">
</head>

<body>
<div th:replace="~{fragments/layouts/layout :: navbar}"></div>
<div class="containerIMG">
    <p class="text-center fs-1">Welcome to Clinic Project</p>
    <div class="container mt-5">
        <div class="row">
            <!-- Lewy div: Patient Portal -->
            <div class="col-12 col-md-6 mb-4">
                <div class="text-center">
                    <!-- Przyciski na górze -->
                    <a th:href="@{/patient}" class="btn btn-primary w-100 mb-3">Patient Portal</a>
                </div>
                <!-- Lista funkcjonalności Portalu Pacjenta -->
                <ul class="list-group">
                    <li class="list-group-item">View medical records</li>
                    <li class="list-group-item">Schedule appointments</li>
                    <li class="list-group-item">Prescription requests</li>
                    <li class="list-group-item">Personal health dashboard</li>
                </ul>
            </div>

            <!-- Prawy div: Doctor Portal -->
            <div class="col-12 col-md-6 mb-4">
                <div class="text-center">
                    <!-- Przyciski na górze -->
                    <a th:href="@{/doctor}" class="btn btn-success w-100 mb-3">Doctor Portal</a>
                </div>
                <!-- Lista funkcjonalności Portalu Lekarza -->
                <ul class="list-group">
                    <li class="list-group-item">View patient history</li>
                    <li class="list-group-item">Manage appointments</li>
                    <li class="list-group-item">Write prescriptions</li>
                    <li class="list-group-item">Track patient progress</li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>

</html>