<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layouts/layout :: head_html}">
</head>
<body>
<div th:replace="~{fragments/layouts/layout :: navbar}"></div>

<!-- Layout kontenera -->
<div class="containerIMG">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2" id="sidebar">
                <div class="list-group">
                    <a th:href="@{/patient/selectDoctorForAppointment/{patientEmail}(patientEmail=${patient.email})}">
                        Make Appointment</a>
                    <a th:href="@{/patient/history/{patientEmail}(patientEmail=${patient.email})}">
                        History</a>
                    <a th:href="@{/patient/upcomingVisits/{patientEmail}(patientEmail=${patient.email})}">
                        Upcoming visits</a>
                </div>
            </div>
            <div class="col-10 ">
                <div th:replace="~{${content != null} ? ${content} : 'defaultContent.html'}"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>