<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layouts/layout :: head_html}">
</head>
<body>
<div class="container">
    <div id="patient-info" class="table-container" th:fragment="upcomingVisitsContent">
        <h2>Patient Details</h2>
        <table>
            <tbody>
            <tr>
                <td><strong>Name:</strong></td>
                <td><span th:text="${patient.name}"></span></td>
            </tr>
            <tr>
                <td><strong>Surname:</strong></td>
                <td><span th:text="${patient.surname}"></span></td>
            </tr>
            <tr>
                <td><strong>Birth Date:</strong></td>
                <td><span th:text="${patient.birthDate}"></span></td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><span th:text="${patient.email}"></span></td>
            </tr>
            <tr>
                <td><strong>Phone:</strong></td>
                <td><span th:text="${patient.phone}"></span></td>
            </tr>
            <tr>
                <td><strong>Gender:</strong></td>
                <td><span th:text="${patient.gender}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="appointments" class="table-container">
        <h2>Appointments</h2>
        <table>
            <thead>
            <tr>
                <th>Reserved Date</th>
                <th>Reserved Start Time</th>
                <th>Doctor:</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${appointmentDoctorMap}">
                <td th:text="${entry.key.reservedDate}"></td>
                <td th:text="${entry.key.reservedStartTime}"></td>
                <td th:text="${entry.value.name} + ' ' + ${entry.value.surname}"></td>
                <td>
                    <form th:action="@{/patient/upcomingVisits/cancel(patientEmail=${patient.email}, appointmentId=${entry.key.appointmentId})}" th:method="delete">
<!--                        <input type="hidden" name="patientEmail" th:value="${patient.email}"/>-->
                        <input type="hidden" name="appointmentId" th:value="${entry.key.appointmentId}"/>
                        <button type="submit" class="btn btn-primary">Cancel visit</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>