<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layouts/layout :: head_html}">
</head>
<body>
<div class="table-container" th:fragment="historyContent">
    <h1 class="fs-1 text-center">Patient history</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.reservedDate}"></td>
            <td th:text="${appointment.reservedStartTime}"></td>
            <td><a class="btn btn-primary"
                   th:href="@{/patient/history/appointment/{appointmentId}(appointmentId=${appointment.appointmentId})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>